/* Стили для кнопок-ссылок */
button {
	background-color: #af4c4c; /* Зеленый цвет фона */
	color: blue; /* Белый цвет текста */
	padding: 12px 24px; /* Отступы внутри кнопки */
	border: none; /* Убрать границу кнопки */
	border-radius: 24px; /* Закругление углов */
	cursor: pointer; /* Стиль курсора при наведении */
	font-size: 24px; /* Размер текста */
	margin-right: 10px; /* Отступ между кнопками */
}

/* Стили для ссылок внутри кнопок */
button a {
	color: purple; /* Белый цвет текста ссылки */
	text-decoration: none; /* Убрать подчеркивание ссылки */
}

/* Стили для кнопок при наведении курсора */
button:hover {
	background-color: #666666; /* Темно-зеленый цвет фона */
}